
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
}
h3{
    text-align: center;
    font-weight: bold;
}

form {
    width: 400px;
    margin: 60px auto;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: 500;
    margin-bottom: 5px;
}

.form-control {
    margin-bottom: 15px;
}

button {
    width: 100%;
}

.navbar-brand {
    font-weight: bold;
    font-size: 20px;
}

.nav-link {
    font-size: 16px;
}

small {
    font-size: 12px;
}
